@model List<Social_Network.WEB.Models.UserListItemViewModel>
@if (Model.Any())
{
    <div>
        <h4>Niggas that liked this motherfucker!</h4>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div>@Html.ActionLink(Model[i].Name + " " + Model[i].Surname, "MainPage", "User", new { id = Model[i].URL }, null)</div>
        }
    </div>
}
